.footer
  //- a(target="_blank", href="/")
  span @ 2018 DataBuzz All Rights Reserved
  br
  span Hexo Theme by 
  a(href="https://www.caicai.me")  CaiCai 
  span &
  a(href="https://github.com/Ben02/hexo-theme-Anatole")  Ben
  span &nbsp;&nbsp;&nbsp; Edited by 
  a(href="https://danialdaehyunnam.github.io")  Danial Nam 
  
  //- .by_farbox
  //-   a(href="https://hexo.io/zh-cn/", target="_blank") Proudly published with Hexo&#65281;
