.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(src= url_for('images/main_logo_new.png'),style="width:127px;")
      h3(title="").sidebar_title= config.sidebarTitle
      if theme.description
        .description
          - var rss_url = "https://databuzz-team.github.io/atom"
          - var rss_icon = "<i class='fas fa-rss rss-icon'></i></a>"
          p.title_description!= theme.description + '<a class="rss-icon-a" href="' + rss_url + '" target="__blank">' + rss_icon
  - var tags = site.tags
  if tags.length > 0
    if is_post()
      //- - page.categories.sort('posts').each(function(item) {	
      //-   - var tmp = item.name.toLowerCase().split(' ')
      //-   - var png_name = ""
      //-   - for(var i = 0; i < tmp.length; i ++){
      //-       if i == 0
      //-         - png_name += tmp[i]
      //-       else
      //-         - png_name += "-" + tmp[i]
      //-   - }
      //-     if item.name  == 'Danial Nam'
      //-       script(src='https://ads-partners.coupang.com/g.js')
      //-       script.
      //-         new PartnersCoupang.G({"id":339548,"subId":null});
      //- - });
      script(src='https://ads-partners.coupang.com/g.js')
      script.
        new PartnersCoupang.G({"id":339871,"subId":null});
    else
      div.featured-tags-wrap
        h1.featured-tags-title= "FEATURED TAGS"
        ul.featured-tags-ul
          - tags.forEach(function(item) {
              li.featured-tags-li.tag-li-detail= " " + item.name + " "
          - });

  //- ul.social-links
  //-   if theme.twitter
  //-     li
  //-       a(href="https://twitter.com/" + theme.twitter)
  //-         i.fa.fa-twitter
  //-   if theme.instagram
  //-     li
  //-       a(href="http://instagram.com/" + theme.instagram)
  //-         i.fa.fa-instagram
  //-   if theme.rss
  //-     li
  //-       a(href= url_for(theme.rss))
  //-         i.fa.fa-rss
  //-   if theme.weibo
  //-     li
  //-       a(href="http://weibo.com/" + theme.weibo)
  //-         i.fa.fa-weibo
  //-   if theme.facebook
  //-     li
  //-       a(href="http://facebook.com/" + theme.facebook)
  //-         i.fa.fa-facebook
  //-   if theme.github
  //-     li
  //-       a(href="http://github.com/" + theme.github)
  //-         i.fa.fa-github
  include footer
