#back-to-top{
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  background-color: black;
  box-shadow: 1px 1px 3px #111;
  color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-size: 50px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top:hover {
  background: dodgerblue;
}

#back-to-top.show {
  opacity: 0.8;
}

.gist{
  max-width: 80%;
  /* margin-left: 10%; */
  margin-top: 10px;
}

.gist-data{
  max-height: 300px;
}

.gist iframe.render-viewer{
  max-height: 260px;
}

.clearfix:after {
  content: '.';
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  text-indent: -9999px;
  clear: both;
}

.rss-wrap{
  margin: 0;
  font-size: 15px;
  height: 26px;
}

.rss-icon-a{
  font-size: inherit!important;
  color: #999!important;
  margin-left: 10px;
}

.rss-icon-a:hover{
  color: dodgerblue!important;
}

.rss-icon{
  font-size: 14px;
  line-height: 26px;
}

.nav-icon{
  color: #999;
  margin-right:5px;
}

.nav-current{
  color: #333;
}

.title_description{
  margin: 0;
}

.content > .post > .post-content > p{
  /* cursor: default!important; */
  font-family: Helvetica Neue;
}

.post-detail{
  font-family: Helvetica Neue;
}

.page-top .information .avatar img{
  margin-top: 3px;
  border-radius: 0;
}

.sidebar_title{
  text-transform: none!important;
  font-family: 'Luckiest Guy', cursive;
  margin-top: 10px!important;
  color: #333;
}

.page-top .nav{
  font-size: 15px;
}

.post-footer-author{
  width:18px;
  position:relative;
  top:5px;
}

.sort-author-avatar{
  width: 36px;
  position: relative;
  top: 9px;
  margin-right: 10px;
}

.general-ul{
  list-style: none;
  padding: 0;
}

.author-ul{
  padding-bottom: 70px;
}

.general-ul li{
  float: left;
  margin: 0 5px;
}

.sort_by_hr{
  margin: 5px;
}

.sort_by_title{
  color: #666;
  margin: 0;
  font-size: 15px;
  clear: both;
}

.tag-li{
  padding: 10px 0px;
  font-size: 25px;
}

.tag-li-detail{
  color: dodgerblue!important;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 0px 8px;
}

.tag_count{
  display: inline-block;
  background-color: #eee;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #999;
  font-size: 15px;
  position: relative;
  top: -4px;
}

.author_count{
  margin-left: 5px;
}

.tag-li-detail:hover{
  color: #333!important;
}

.sort-user-li{
  float: none!important;
  padding: 10px 5px;
  position: relative;
}

.user-li-title{
  font-size: 25px;
  color: #333;
  position: absolute;
  top: 26px;
}

.listing-post{
  margin-top: 10px;
  /* height: 60px; */
  position: relative;
  border-bottom: 1px solid #f2f2f2;
}

.listing-tag{
  color: #C5C5C5
}

.listing-title-new{
  font-size: 20px;
}

.tag-not-hover:hover{
  color: #333!important;
}

.tag-on-archive{
  position: absolute;
  right: 0;
  bottom: 5px;
}

.page-top .nav a.current:hover{
  cursor: default!important;
}

.user-li{
  width: 50%;
  margin: 0!important;
  padding-bottom: 30px;
  position: relative;
}

.user-li:last-child{
  margin-bottom: 200px!important;
}

.user-namecard-title{
  font-size: 25px;
  position: absolute;
  top: 10px;
  margin: 0;
  color: #333;
}

.avatar-about-us{
  width: 72px;
  height: 80px;
}

.user-articles-count{
  display: block;
  position: absolute;
  left: 82px;
  bottom: 55px;
}

.social-wrap{
  position: absolute;
  bottom: 20px;
  left: 82px;
}

.about-social-icon{
  width: 30px;
  height: 30px;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  margin-left: 10px;
}

.about-social-icon:first-child{
  margin-left: 0;
}

.featured-tags-wrap{
  width: 260px;
  position: absolute;
  left: 50%;
  margin-left: -130px;
  top: 50%;
  margin-top: 130px;
}

.featured-tags-title{
  width: 100%;
  font-size: 15px;
  text-align: center;
  margin: 0;
  color: rgba(0,0,0,0.5);
}

.featured-tags-ul{
  list-style: none;
  padding: 0;
  max-height: 104px;
  overflow: hidden;
}

.featured-tags-li{
  color: #333!important;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.notebook-embedded{
  width: 100%;
  border: 1px solid #eee;
  border-bottom: 40px solid #eee;
  border-radius: 4px;
  height: 400px;
  overflow: hidden;
}

.share-to-social{
  width: 200px;
  font-size: 20px;
  line-height: 40px;
  color: #333;
  position: absolute;
  bottom: 30px;
  right: 0;
}

.sharer{
  position: absolute;
  bottom: 0px;
  left: 65px;
}

.sharer-item{
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  color: #999;
  margin-right: 10px;
  line-height: 30px;
  margin-bottom: 5px;
  cursor: pointer;
}

.sharer-item:hover{
  color: dodgerblue;
}

.about-us-wrap{
  padding: 0 0 30px 0;
  border-bottom: 1px solid #f2f2f2;
}

.about-us-title{

}

.about-us-article-time{
  margin-left: 10px;
  font-size: 12px;
  color: #aaa;
  font-weight: 400;
}

@media screen and (max-width: 320px){
  .information{
    display: none;
  }
}

@media screen and (max-width: 520px){
  .user-li{
    width: 100%;
  }

  .nav-icon{
    display: none;
  }

}

@media screen and (max-width: 720px){
  .share-to-social{
    position: static;
  }

  .sharer{
    bottom: 30px;
  }
}

@media screen and (min-width: 960px){
  body{
    overflow: hidden;
  }

  .content{
    height: 100%;
    float: none;
    position: absolute;
    right: 0;
    top: 60px;
    margin-top: 0px;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .sidebar .logo-title{
    padding-top: 0;
    position: relative;
    top: 50%;
    margin-top: -138.5px;
  }
}
