::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 6px;
  height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  /* background: #111; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #666;
}

body{
  font-family: 'Boogaloo', 'Stylish', sans-serif, cursive;
  font-size: 14px;
  cursor: default;
  color: rgba(0, 0, 0)
}

h1, h2, h3, h4, h5, h6, p{
  color: #333;
}

li{
  color: #333;
}

blockquote{
  margin: 0;
  border-left: #999 0.4em solid;
}

.MJXc-display{
  overflow-x: scroll!important;
  overflow-y: hidden!important;
}

.page-top .information{
  position: absolute;
  right: 0;
}

.back-btn-icon{
  cursor: pointer;
}

.page-top .information .back_btn{
  float: left;
  position: absolute;
  padding-top: 0px;
  left: -20px;
  top: 50%;
  margin-top: -6px;
}

.footer{
  padding-bottom: 10px;
}

.footer span{
  color: #bbb;
}

.page-top .nav a{
  color: #999;
}

.page-top .nav a.current{
  /* color: #00a178; */
  color: #333;
}

.post .post-title a{
  /* font-family: 'Cute Font', sans-serif; */
  color: #333;
}

.post .post-title a:hover{
  text-decoration: none;
  color: #4786D6;
}

.post .post-footer .meta{
  height: auto;
}

.post .post-footer .meta .info{
  float: none;
}

.sidebar .logo-title .description{
  color: #333;
}

.post-summary{
  font-family: Helvetica Neue;
  -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    -ms-transition: all .15s linear;
    transition: all .15s linear;
}

.post-summary:hover{
  /* color: dodgerblue; */
}

.post-wrap{

}

.post-wrap-with-thumbnail{
  width: 66.6666%;
  margin-left: 33.3333%;
  min-height: 162px;
  padding-left: .5em;
}

.post-thumbnail{
  width: 33.3333%;
  height: 162px;
  padding-right: .5em;
  position: absolute;
}

.post-thumbnail-img{
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
}


@media screen and (min-width: 960px){
  .page-top .information .back_btn{
    left: -50px;

  }
}
